@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.container {
  position: fixed;
  height: 100%;
  width: 100%;
}

.img1 {
  position: fixed;
  top: 20%;
  left: 70%;
  z-index: 3;

  animation: fadeIn 3s ease-in;
}

.img2 {
  position: fixed;
  top: 30%;
  left: 75%;
  z-index: 3;
  animation: fadeIn 3s ease-in;
}
