.container {
  display: flex;
  flex-direction: column;
  max-width: 450px;
}

.stepAndTitleContainer {
  display: flex;
}

.step {
  color: #f86655;
  width: 7%;
  margin-bottom: 0;
}

.title {
  width: 93%;
  font-weight: 300;
  margin-bottom: 0;
}

.description {
  margin-left: 7%;
  margin-top: 0;
  margin-bottom: 16px;
}

@media only screen and (max-height: 700px) {
  .title {
    font-weight: 200;
    font-size: 20px;
  }

  .description {
    font-size: 12px;
  }
}
