@keyFrames slideInLeft {
  0% {
    transform: translateX(-1500px);
  }

  100%{
    transform: translateX(0);
  }
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  position: fixed;
  column-gap: 16px;
  bottom: 15%;
  left: 5%;

  animation: slideInLeft 3s ease-in;
}
