@keyframes slideInLeft {
  0% {
    transform: translateX(-1500px);
  }

  100% {
    transform: translateX(0);
  }
}

.container {
  position: fixed;
  width: 50%;
  top: 30%;
  left: 5%;

  animation: slideInLeft 2s ease-in-out;
}

.title {
  font-size: 46px;
  margin-bottom: 16px;
}

.description {
  width: 85%;
  font-size: 16px;
}

.orangeText {
  color: #f86655;
}

@media only screen and (max-height: 700px) {
  .container {
    top: 20%;
  }

  .title {
    font-size: 36px;
    margin-bottom: 16px;
  }

  .subtitle {
    font-size: 16px;
    color: #f86655;
    margin-bottom: 16px;
  }

  .description {
    font-size: 12px;
    max-width: 415px;
  }
}
