@keyFrames slideInLeft {
  0% {
    transform: translateX(-1500px);
  }

  100%{
    transform: translateX(0);
  }
}

.container{
  position: fixed;
  width: 50%;
  top: 30%;
  left: 5%;

  animation: slideInLeft 2s ease-in-out ;
}

.title {
  font-size: 52px;
}

.subtitle{
  font-size: 28px;
  color:  #F86655;
}

.description {
  font-size: 20px;
}